
.simple{
    margin-left:70px;
    padding:20px;
    background-color: rgb(100, 155,0);
    width:25%;
    height:500px;
    border-radius: 5%;
}

#app{

width:30%;
}
#cal{
    padding:10px 35px;
    border-radius: 20%;
}

 .heading{
    text-align:center;
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb55, 255 100);
}

.simple .amount{
    text-align: right;
}